@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
html {
  background: black !important ; 
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "League Spartan";
  background: black !important ; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .h1 {
    @apply text-[38px] sm:text-[48px] xl:text-[65px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .textgreen {
    @apply text-[#30B43C];
  }
  .text-gradient {
    background-image: linear-gradient(
      290.02deg,
      #D4FF9E -27.56%,
      #30b43c 43.56%
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }



}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Flexbox utility classes */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/* Grid utility classes */
.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gap-4 {
  gap: 1rem;
}

/* Container and responsive layout */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button-primary {
  background-color: #30b43c;
  color: #fff;
}

.button-secondary {
  background-color: #eaeaea;
  color: #000;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #d4ff9e;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #30b43c;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #01fd16;
}



